body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-color: Gainsboro;
	box-shadow: 6px 3px 20px black;
	width: auto;
	height: auto;
}

.nav-wrapper {
	width: 100%;
	padding-bottom: 8%;
	position: fixed;
	top: 0;
	background-image:linear-gradient(50deg, #F3F8F9, Gainsboro);
}

.brand-logo {
	display: block;
	margin: auto;
	width: 5%;
	margin-top: 16pt;
	margin-left: 1%;		
}

.Fr {
	float: right;
	width: 4%;
	margin-top: 20pt;
	margin-right: 1%;		
}

.title {
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	color: black;
	letter-spacing: 8pt;
	margin-top: 2%;
	margin-left: 6%;
}

.sousTitre {
	text-align: center;
	margin: auto;
	margin-top: 1.5%;
	margin-left: 5.3%;
	font-size: 85%;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1pt;
}

.responsive-img {
	display: block;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 3%;
	border-radius: 16%;
	border: dashed;
	border-width: 1pt;
	width: 85%;
}

.responsive-img:hover {
	-webkit-transform:scale(1.07);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	border-radius: 0%;
	width: 90%;
	box-shadow: 0px 2px 10px black;

}

#resA, #resB {
	font-size: 115%;
}

#radioBtn {
	display: block;
	margin: auto;
	text-align: center;
}

button {
	display: block;
	margin: auto;
	margin-top: 2%;
}

.btn_redirect {
	display: block;
	margin: auto;
	margin-bottom: 1%;
	width: 25%;
	text-align: center;
}

#situation {
	display: block;
	margin: auto;
	font-size: 120%;
	text-align: center;
	padding-bottom: 2%;
}

.center-align {
	padding-bottom: 1%;
	margin-top: 4%;
	font-size: 150%;
	font-weight: bold;
}

.Panel {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 2%;
	text-align: center;
}

.brown {
	display: block;
	margin: auto;
	width: auto;
	height: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	box-shadow: 0px 2px 10px black;
}

.parallax {
	filter: blur(10px) brightness(1);
}

#validate {
	display: block;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}