body {
	font-family: ‘Times New Roman’, Times, serif;
	background-color: Gainsboro;
	box-shadow: 6px 3px 20px black;
	width: auto;
	height: auto;
}

.nav-wrapper {
	width: 100%;
	padding-bottom: 8%;
	position: fixed;
	top: 0;
	background-image:linear-gradient(50deg, #F3F8F9, Gainsboro);
}

.brand-logo {
	width: 5%;
	margin-top: 16pt;
	margin-left: 1%;		
}

.title {
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	color: black;
	letter-spacing: 9pt;
}

.sousTitre {
	text-align: center;
	margin: auto;
	font-size: 80%;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1pt;
}

.responsive-img {
	margin-top: 8%;
	margin-bottom: 2%;
	margin-left: 2%;
	border-radius: 16%;
	border: dashed;
	border-width: 1pt;
	width: 85%;
}

.responsive-img:hover {
	-webkit-transform:scale(1.07);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	border-radius: 0%;
	width: 90%;
}

p {
	margin-top: 2%;
	text-align: center;
}

#radioBtn {
	text-align: center;
}

button {
	margin-top: 2%;
}

#situation {
	text-align: center;
	padding-bottom: 10%;
}

.center-align {
	padding-bottom: 11%;
	margin-top: 13%;
	font-size: 130%;
	font-weight: bold;
}

.Panel {
	width: 45%;
	display: block;
	margin: auto;
	margin-bottom: 2%;
	text-align: center;
	border-radius: 100%;
}

.brown {
	display: block;
	margin: auto;
	width: 40%;
	margin-top: 8%;
}

.parallax {
	filter: blur(10px) brightness(1);
}

#validate {
	display: block;
	margin: auto;
	margin-top: 4%;
}